<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IGEMSTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IGEMSTools.Properties.Settings>
            <setting name="IpAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DelayMs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableStream" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StreamingMode" serializeAs="String">
                <value>0</value>
            </setting>
        </IGEMSTools.Properties.Settings>
    </userSettings>
</configuration>